.sansserif {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
table {
    font-family: Verdana, Arial, Helvetica, sans-serif
}

body {
    color: #ffffff;
    background-color: #000000;
}

.container {
    width: 80%;
    height: 50%;
    background-color: #000000;
    border: 10px solid #ffffff;
    border-radius: 16px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_2 {
    width: 90%;
    height: 50%;
    background-color: #000000;
    border: 3px solid #ffffff;
    border-radius: 16px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table_container {
    width: 90%;
    height: 50%;
    background-color: #000000;
    border: 3px solid #ffffff;
    border-radius: 16px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.centered_element {
    float: left;
    width: 30%;
    height: 20%;
    background-color: #ffffff;
    border: 10px solid #000000;
    border-radius: 16px;
    padding: 30px;
    margin: 10px;
}

a {
    color: #ffffff;
    padding-right: 10px;
    word-spacing: norman;
    font-weight: bold;
}

table,
th,
td {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    border-radius: 2em;
    width: 80%;
}

th,
td {
    padding: 15px;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #7c7c7c;
}

#customers tr:hover {
    background-color: #666666;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2600ff;
    color: white;
}

.hero-image {
    background-image: url("img/Movement-dark-2000.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    background-position: center top;
}